* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#page-wrapper {
    width: 80vw;
    margin: 0 auto;
}

header {
    padding: 1%;
    background-color: rgb(28, 28, 102);
    color: rgb(216, 220, 247);
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/*Header ends*/

/*Two column container starts:*/

#nav-main {
    display: flex;
    flex-direction: row;
    width: 100%;
}

nav {
    background-color: rgb(122, 131, 235);
    width: 30%;
}

nav ul {
    list-style: none;
    padding-left: 0;
}

nav li {
    width: 80%;
    background-color: rgb(216, 220, 247);
    padding: 1%;
    margin: 18% auto;
    text-align: center;
}

nav a {
    text-decoration: none;
    font-size: calc(2px + 1.3vw);
}

main {
    padding: 1% 2%;
    /*at least 100vh*/
    height: 150vh;
    background-color: rgb(216, 220, 247);
    text-align: center;
    width: 70%;
    height: 100vh;
}

#home {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 5% 0;
}

#edu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: left;
    width: 100%;
    margin: 5%, 0;
}

#exp {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    margin: 5% 0;
}

ul {
    list-style: square;
    padding-left: 24px;
    font-size: calc(10px + 0.6vw);
    color: black;
}

li::marker {
    color: rgb(28, 28, 102);
    font-size: 1.1em;
}

li {
    width: 100%;
    padding: 2vh 2vw;
    margin: 1.5vh 0;
    text-align: left;
    background: rgba(255, 255, 255, 0.55);
}

main p {
    line-height: 100%;
    font-size: calc(2px + 2vw);
    padding: 2%;
}

main h3 {
    text-align: center;
    margin: 2% 0;
    font-size: calc(2px + 2vw);
    color: rgb(60, 49, 185);
}

main img {
    max-width: 40%;
}

/*
    height and width: vw or vh
    margin and padding: %
    font-size: calc(2px + 1.5vw);
    img: max-width: 100% (do not exceed 100)
*/



footer {
    background-color: rgb(28, 28, 102);
    color: rgb(216, 220, 247);
    padding: 1%;
    text-align: center;
}

#time-date {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
}

footer a {
    color: rgb(216, 220, 247);
    ;
}

@media screen and (max-width: 1000px) {
    #nav-main {
        flex-direction: column;
    }

    nav,
    main {
        width: 100%;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    nav li {
        width: 18%;
        padding: 1%;
        margin: 1%;
    }

    #this-one {
        flex-direction: column;
    }

    header {
        text-align: center;
    }

    main {
        height: 100vh;
    }
}